.outer-chip {
  border: thin solid black;
  border-width: 3px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-radius: 48px;
  padding: 6px;
}

.chip {
  border: 3px solid black;
  border-radius: 32px;
  padding: 12px;
}
